In [1]:
import numpy as np
import pandas as pd #importing a module, dependency. example of abstraction

import matplotlib.pyplot as plt

/var/folders/fv/3yl7kz_13sjfcjlh2s051yqw0000gn/T/ipykernel_9001/3879263515.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd #importing a module, dependency. example of abstraction

In [2]:
! pip3 install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/lex/Library/Python/3.9/lib/python/site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (23.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: numpy<2,>=1.21 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: pillow>=8 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.1.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.16.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [3]:
titanic_df = pd.read_csv("titanic_test_data.csv")
titanic_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
titanic_df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')